<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body >
  <div class="container">
  <h1>Dojo Survey</h1>
  <form action='/result' method='post'>
    <div><label for="name">Your Name:</label>
    <input type='text' name='name' id='name'></div>
    <div><label for="Dojolocation">Dojo location:</label>
       <select name="Dojolocation" id='location'>
       <option value="chicago">Chicago</option>
       <option value="san jose">San Jose</option>
       <option value="texas">Texas</option>
      </select></div>
    <div><label for="FavoriteLanguage">Favorite Language:</label>
       <select name="FavoriteLanguage">
       <option value="python">Python</option>
       <option value="ruby">Ruby</option>
       <option value="java">Ios</option>
     </select></div>
      <div>       <p> Comment (optional):</p>
       <textarea name="description"></textarea>
       <input type="submit" value="Submit" id="sub"></div>

     </form>
     {% with messages = get_flashed_messages() %}
       {% if messages %}
         {% for message in messages %}
           <p id="msg">{{message}}</p>
         {% endfor %}
       {% endif %}
     {% endwith %}
    </div>
</body>
</html>